.wrapper-7-main {
    background-image: url("../assets/banner-img-7.jpg");
    height: 500px;

    .wrapper-7 {
        padding-top: 120px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width:768px) {
    .wrapper-7-main {
        .wrapper-7 {
            padding-bottom: 50px;
        }
    }

}